<div class="container" id="bike">
  <nav>
    <img src="../assets/logo.png" class="logo">
    <a href="#" class="btn">Test Drive</a>
  </nav>
  <div class="content">
    <h2>The BMW</h2>
    <h1>G 310 R</h1>
    <p>Wake up with a smile on your face. Because every day is an opportunity to try something new – with the BMW G 310
      R. It is an intuitive, agile ride thanks to the optimized engine with Ride by Wire and slipper clutch, whether you
      are off to work, to an appointment, or out of the city. </p>
      <h3>Choose your colour</h3>
      <div class="colour-select">
        <div (click)="changeImage('red')"  id="red"></div>
        <div (click)="changeImage('blue')" id="blue"></div>
        <div (click)="changeImage('black')" id="black"></div>
      </div>
  </div>
</div>